
body{
    background-image: url("../images/full-bloom.png");
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}
.white{
    background-color: white;
    border-bottom: 1px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.col-md-8{
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
h1{
    border-bottom: 1px solid #cccccc;
    /* padding: 10px 10px 15px 5px; */
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#bar{
    text-align: center;
    padding: 10px 0px 0px 5px;
    color: white;
    text-emphasis-style: bold;
}
.link-group{
    /* margin: 10px auto; */
}
a{
    /* text-align: center;
    margin: auto;
    padding: 20px 10px 10px 5px;*/
    border-right: 1px solid #cccccc; 
    width: 100%;
    text-align: center;
    /* margin: 10px 5px 5px 5px;
    padding: 20px 0px 0px 5px; */
    padding: 10px 2.5px 0px 0px;
    color: #cccccc;
    text-emphasis-style: bold;
}
.content{
    padding: 20px 0px 20px 10px;
}

@media only screen and (max-width: 650px) {
    /* #bar{
        border-bottom: 1px solid grey;
    } */
    /* .white{
        height: 85px;
    } */
    /* .link-group{
        margin: 5px 50px 5px 55px;
    } */
    
}